a {
    text-decoration: none;
    color: inherit; 
}

body{
    width: 100%;
    background: #FFF9CE;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list {
}

.row {
    margin: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}

.item {
    margin: 8px;
    width: 384px;
}

.text {
    padding: 0px 2px 16px 2px;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: black;
    line-height: 1.5;
    /* text-indent: 16px; */
}

.text.over-header {
    /* width: calc( 384px * 2 ); */
    font-size: 11px;
    text-align: center;
    padding-bottom: 0;
}

.text.header {
    width: 384px;
    border: 2px dashed skyblue;
    color: steelblue;
    font-weight: 600;
    font-size: 16px;
    text-indent: 0px;
    text-align: center;
    line-height: 1;
    margin-top: 16px;
    margin-bottom: 16px;
}

.text.header > img {
    vertical-align: sub;
}

.text.footer {
    font-size: 11px;
    text-indent: 0px;
}
